*.pyc
__pycache__/
.DS_Store
*.egg-info
build/
dist/
.cache
.pytest_cache/
.ruff_cache/
.venv/
**.ipynb_checkpoints
.vscode
html
docs
notebooks/dev
log/
notebooks/log/
tests/log/
tests/data/log/
tests/data/rawfiles.cache
geomag
