*.pyc
.DS_Store
velosearaptor.egg-info
build/
dist/
.cache
**.ipynb_checkpoints
.vscode
html
docs
notebooks/dev
log/
notebooks/log/
velosearaptor/tests/log/
velosearaptor/tests/data/log/
src
velosearaptor/tests/data/rawfiles.cache
geomag
